body {
    background: var(--background-image) no-repeat center center fixed;
    padding-top: 15px;
    color: var(--main-color);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.item {
    margin: 0 0 10px;
    position: relative;
}