
body{
    margin:0;
    background-color: rgb(231, 158, 201);
    color:rgb(109, 3, 56);
}
nav{
    background-color: yellowgreen;
    font-size: 42px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 0;
    padding: 25px 0;
}
nav p{
    position:absolute;  
    padding-bottom: 15px;
}
.paragraph{
    color:rgb(233, 69, 159);
}
h1{
    align-items: center;
    font-size: 24px;
    font-weight: 200px;
}
img{
    width: 450px;
   
}
a{
    color:red;
}
.container{
    background-color: white;
    margin: 15px;
    padding: 15px;
    border: rgb(194, 146, 174) 5px double;
}